.dashboard {
  width: 100%;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  width: 100%;
}

.dashboard-grid--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dashboard-grid__slot {
  min-width: 0;
}

.dashboard__tiles {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

.dashboard__mock {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 1rem;
  background-color: var(--bosch-gray-90);

  font-weight: 600;
  text-align: center;
}
