// Layout heights
$root-width: 1440px;
$header-height: 80px;
$footer-height: 104px;

// measurements
$s: 12px;
$xs: 8px;

// colors
$border-gray: #d1d5d9;
$border-gray-2: #bfc0c2;

$bass-gray: #e0e2e5;
