.custom-date-picker {
  position: relative;

  .datetime-input {
    display: flex;
    height: 3rem;
    min-width: 11.5rem;
    position: relative;
    width: auto;

    .text-field {
      flex: 1;
    }

    .input-button {
      align-items: center;
      background-color: var(--neutral__enabled__fill__default);
      border-bottom: 1px solid var(--neutral__enabled__front__default);
      color: var(--neutral__enabled__front__default);
      display: inline-flex;
      height: 3rem;
      justify-content: center;
      width: 3rem;

      &:hover {
        background-color: var(--neutral__enabled__fill__hovered);
        border-bottom: 1px solid var(--neutral__enabled__front__default);
        color: var(--neutral__enabled__front__hovered);
      }

      &.readonly-mode {
        background-color: var(--plain__enabled__fill__default);
      }

      &.picker-only {
        background-color: var(--neutral__enabled__fill__default);
      }
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
  &.disabled {
    .text-field,
    .datetime-input {
      .input-button {
        background-color: var(--bosch-gray-95);
        border-bottom: 1px solid var(--neutral__disabled__front__default);

        &.readonly-mode {
          background-color: var(--bosch-gray-95);
        }

        &.picker-only {
          background-color: var(--bosch-gray-95);
        }
      }
    }

    input,
    select,
    textarea,
    button {
      background-color: var(--bosch-gray-95);
      color: var(--neutral__disabled__front__default);
    }
  }
}
